@using WebReklam.Areas.Admin.Models
@{
    ViewData["Title"] = "Index";
}
@model List<GetDesignerVM>
@if (User.IsInRole("admin"))
{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tasarımcı Listesi</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Email</th>
                                <th>Telefon Numarası</th>
                                <th>Açıklaması</th>
                                <th>Durum</th>
                                <th>Eklenme Tarihi</th>
                                <th>Güncellenme Tarihi</th>
                                <th>Profil Fotoğraf</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var designer in Model)
                            {
                                <tr>
                                    <td>@designer.Id</td>
                                    <td>@designer.FirstName</td>
                                    <td>@designer.LastName</td>
                                    <td>@designer.Email</td>
                                    <td>@designer.PhoneNumber</td>
                                    <td>@designer.Description</td>
                                    <td>@designer.Status</td>
                                    <td>@designer.CreatedDate</td>
                                    @if (designer.UpdatedDate != null)
                                    {
                                        <td>@designer.UpdatedDate</td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }
                                    @foreach (var image in Model)
                                    {
                                        <td>
                                            <img src="/@image.ImageFullName" style="width:100px;" />
                                        </td>

                                    }
                                    <td>
                                        <a asp-controller="Designers" asp-action="UpdateDesigner" asp-route-id="@designer.Id" class="btn btn-outline-primary">Güncelle</a>
                                    </td>
                                    <td>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-@designer.Id">
                                            Sil
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal-@designer.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Silme Uyarısı</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        @designer.FirstName @designer.LastName kişisini silmek istediğinize emin misiniz?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
                                                        <a asp-controller="Designers" asp-action="DeleteDesigner" asp-route-id="@designer.Id" class="btn btn-danger">Sil</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="card-footer">
                <a asp-controller="Designers" asp-action="CreateDesigner" class="btn btn-outline-dark d-block">Yeni Tasarımcı Ekle</a>
            </div>
        </div>
    </div>
</div>