@using WebReklam.Areas.Admin.Models
@{
    ViewData["Title"] = "Index";
}
@model List<FormVM>
@if (User.IsInRole("admin"))
{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-xxl position-relative bg-white d-flex p-0">
    <div class="content">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Talepler Listesi</h3>
            </div>
            <div class="card-body">
                <div class="table table-responsive table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Email</th>
                                <th>Telefon Numarası</th>
                                <th>Şirket Adı:</th>
                                <th>Avmler:</th>
                                <th>İl:</th>
                                <th>Mesaj:</th>
                                <th>Fotoğraf</th>
                                <th>Eklenme Tarihi</th>
                                <th>Güncellenme Tarihi</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var form in Model)
                            {
                                <tr>

                                    <td>@form.FirstName</td>
                                    <td>@form.LastName</td>
                                    <td>@form.Email</td>
                                    <td>@form.PhoneNumber</td>
                                    <td>@form.CompanyName</td>
                                    <td>@form.Mall</td>
                                    <td>@form.Message</td>
                                    <td>@form.City</td>

                                    @if (form.Image is not null)
                                    {
                                        <td>
                                            <a class="btn btn-success btn-sm" asp-action="DownloadFile" asp-route-filePath="@form.Image">İndir</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }

                                    <td>@form.Status</td>
                                    <td>@form.CreatedDate</td>
                                    @if (form.UpdatedDate != null)
                                    {
                                        <td>@form.UpdatedDate</td>
                                    }
                                    else
                                    {
                                        <td> - </td>
                                    }


                                    <td>
                                        <!-- Button trigger modal -->



                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>